@import './reset.scss';

body {
    font-size: 16px;
}

.line_height30 {
    line-height: 30px;  
}
  
.g_wrapper {
    /* position: relative; */
    position: absolute;
    margin-left: -480px;
    top: 50%;
    left: 50%;
    margin-top: -322px;

    width: 960px;
    height: 645px;
    background: #fff;
    border-radius: 10px; 
    
    .header {
        height: 61px;
        line-height: 61px;
        background: url(../image/icon_header_bac.jpg) repeat;
        /* background: #006bcf; */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; 
        overflow: hidden;

        img {
            vertical-align: middle;
        }

        .logo {
            display: inline-block;
            margin-left: 20px;
        }

        &_right {
            float: right;
            margin-right: 35px;
            color: #fff;
            font-size: 14px;
            cursor: pointer;

            img {
                display: inline-block;
                width: 34px;
                height: 34px;
                /* border: 2px solid #fff;
                background: #000; */
                margin-right: 15px;
                border-radius: 50%;                
                overflow: hidden;
            }

            span {

                &.say_hello {
                    margin-right: 5px;
                }                
            }
            
        }
    }

    .main_wrp {

        .tabs {

            ul {

                li {
                    float: left;
                    width: 191px;
                    height: 63px;
                    line-height: 63px;
                    font-size: 16px;
                    color: #333;
                    text-align: center;
                    background: #e7e7e7;
                    border-bottom: 1px solid #dddddd;
                    border-left: 1px solid #e1e1e1;
                    cursor: default;

                    &.active {
                        background: #fff;
                        border-bottom: 1px solid #fff;
                        font-size: 20px;
                        color: #006bcf;
                        font-weight: bold;
                    }

                    &:first-child {
                        border-left: 0;
                    }
                }  
            }
        }        
    }

    .close_win {
        position: absolute;
        top: -15px;
        right: -15px;
        width: 31px;
        height: 31px;
        background: url(../image/closed.png) no-repeat;

        a {
            display: block;
            width: 100%;
            height: 100%;

            &.gray_bac {
                border-radius: 50%;
                background: rgba(0,0,0,.8);
            }
        }
    }

    .gl_loading {
        display: none;
        position: absolute;
        top: 125px;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        background: #fff;
        padding-top: 170px; 
        z-index: 999;      

        p {
            margin-top: 30px;
            font-size: 16px;
            color: #000;
        }
    }
}

.tabs_block_wrp {
    height: 520px;

    .tabs_block {
        position: relative;
        height: 100%;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        .coupon_box{
            padding-top: 40px;
            .habit_box{
                width: 456px;
                height: 340px;
                padding-left: 65px;
            }
            .right_box{
                width: 336px;
                height: 320px;
                margin-top: 52px;
                margin-left: 76px;
                overflow-y: auto;

                .right_item_list{
                    width: 292px;
                    height: 143px;
                    border: 1px solid #e0e0e0;
                    background: #f8f8f8;
                    border-radius: 8px;
                    margin-bottom: 15px;
                    .logo{
                        margin: 20px;
                        width: 100px;
                        margin-bottom: 10px;
                        height: 62px;
                    }
                    .num{
                        font-size: 48px;
                        color: #ff903c;
                        margin-top: 20px;
                        margin-right: 15px;
                    }
                    .ad{
                        font-size: 16px;
                        width: 166px;
                        margin-left: 20px;
                    }
                    .usetime{
                        font-size: 14px;
                        color: #999999;
                        line-height: 20px;
                        width: 166px;
                        margin-left: 20px;
                    }
                    .use_btn{
                        display: inline-block;
                        width: 90px;
                        height: 38px;
                        line-height: 38px;
                        text-align: center;
                        background: #006bcf;
                        color: #fff;
                        border-radius: 8px;
                        margin-right: 15px;
                        margin-top: -20px
                    }
                }
            }
            .ad_bottom{
                width: 100%;
                height: 50px;
                line-height: 50px;
                border-top: 1px solid #e0e0e0;
                position: absolute;
                bottom: 0;
                left: 0;
                overflow: hidden;
                ul{
                    text-align: center;
                    a{
                        color: #999999;
                    }
                }
            }
        }
        .package_type{
            padding: 43px 65px;
            .package_p{
                font-size: 20px;
                color: #666666;
                margin-bottom: 18px;
            }
            .package_type_list{
                margin-bottom: 20px;
            }
            .package_type_item{
                width: 126px;
                text-align: center;
                margin-left: 32px;
                margin-right: 51px;
                .package_type_name{
                    display: inline-block;
                    color: #999999;
                    font-size: 16px;
                    margin-top: 14px;
                }

            }
            .no_right{
                margin-right: 0;
            }
        }

        .single_renew{
            padding: 33px 65px;
            .single_renew_list{
                margin-bottom: 34px;
            }
            .single_renew_item{
                margin-bottom: 18px;
                margin-right: 59px;
                width: 365px;
                line-height: 46px;
                .single_renew_term{
                    display: inline-block;
                    height: 42px;
                    line-height: 42px;
                    font-size: 16px;
                    color: #333333;
                    width: 66px;
                    margin-right: 40px;
                }
                .orange_span{
                    display: inline-block;
                    height: 42px;
                    line-height: 42px;
                    color: #ff6600;
                    font-size: 18px;
                }
                .renew_long_choose{
                    display: inline-block;
                    height: 42px;
                    line-height: 42px;
                    border: 1px solid #cccccc;
                    color: #999999;
                    font-size: 16px;
                    border-radius: 8px;
                    background: #f8f8f8;
                    width: 246px;
                    cursor: pointer;
                    margin-right: 15px;
                    text-align: center;
                }
                .renew_short{
                    width: 113px;
                }
                .renew_small{
                    width: 70px;
                }
                .renew_mid{
                    width: 120px;
                }
                .renew_btn{
                    display: inline-block;
                    width: 42px;
                    height: 42px;
                    border: 1px solid #cccccc;
                    border-radius: 8px;
                }
                .reduce{
                    background: url(../image/reduce.png) no-repeat 10px 20px; 
                    background-color: #f8f8f8;                            
                }
                .add{
                    background: url(../image/add.png) no-repeat 10px 10px; 
                    background-color: #f8f8f8;
                }
                .renew_span{
                    display: inline-block;
                    width: 67px;
                    height: 42px;
                    line-height: 42px;
                    border: 1px solid #cccccc; 
                    background: #fff;
                    text-align: center;
                    border-radius: 8px;
                    color: #999999;
                    margin-left: 6px;
                    margin-right: 6px;
                }
                .no_right{
                    margin-right: 0;
                }
                .active{
                    color: #006bcf;
                    border: 2px solid #006bcf;
                    position: relative;
                    background: #fff;
                    &:after{
                        content:'';
                        position: absolute;
                        right: -2px;
                        bottom: -2px;
                        width: 26px;
                        height: 25px;
                        background: url(../image/checked.png) no-repeat;
                    };
                    
                }
                .select_phone{
                    width: 250px;
                    height: 42px;
                    line-height: 42px;
                    border: 1px solid #cccccc;
                    border-radius: 8px;
                    text-indent: 60px;
                    font-size: 16px;
                    color: #999999;
                    background: url(../image/select.png) no-repeat 186px center;
                    background-color: #f8f8f8;
                }
            }
            .long_item{
                width: 100%;
            }
            .right_item{
                margin-right: 0;
            }
            .single_renew_btn{
                width: 100%;
                text-align: center;
                .continue{
                    display: inline-block;
                    width: 193px;
                    height: 50px;
                    background: #006bcf;
                    line-height: 50px;
                    text-align: center;
                    font-size: 24px;
                    color: #fff;
                    border-radius: 8px;
                    margin-right: 11px;
                }
                .only{
                    color: #999999;
                }
            }
        }
        .increase_speed{
            padding: 70px 95px;
            text-align: center;
            .big_p{
                font-size: 48px;
                color: #333333;
                em{
                    color: #006bcf;
                }
            }
            .increase_speed_step{
                margin-top: 48px;
                .step_item{
                    width: 126px;
                    .step_item_name{
                        margin-top: 18px;
                        span{
                            font-size: 20px;
                            color: #333333;
                            margin-left: 8px;
                        }
                        img{
                            margin-top: -3px;
                        }
                    }
                }
                .step_icon{
                    height: 126px;
                    margin-left: 23px;
                    margin-right: 23px;
                    img{
                        margin-top: 52px;
                    }
                }
            }
            .speed_btn{
                margin-top: 38px;
                a{
                    display: inline-block;
                    width: 193px;
                    height: 50px;
                    background: #006bcf;
                    line-height: 50px;
                    text-align: center;
                    font-size: 24px;
                    color: #fff;
                    border-radius: 8px;
                }
            }
        }
        .dan_bill{
            .bill_box{
                padding: 0 65px;
                padding-top: 42px;
                .bill_box_list{
                    margin-bottom: 26px;
                    .bill_name{
                        color: #666666;
                        margin-right: 29px;
                    }
                    .bill_name_item{
                        color: #000;
                    }
                }
                .cost_p{
                    font-size: 28px;
                    color: #333333;
                    margin-bottom: 20px;
                    em{
                        color: #ff6600;
                        font-weight: 500;
                    }
                }
                .cost_box{
                    .cost_box_left{
                        padding-right: 120px;
                        padding-left: 15px;
                        padding-top: 12px;
                        height: 170px;
                        border-right: 1px solid #dddddd;
                        position: relative;
                        .cost_box_list{
                            margin-bottom: 20px;
                    
                            .bill_name{
                                display: inline-block;
                                color: #666666;
                                margin-right: 46px;
                                width: 96px;
                            }
                            .bill_item{
                                font-weight: bold;
                            }
                            .orange{
                                color: #ff6600;
                            }
                        }
                        .cost_box_left_btn{
                            position: absolute;
                            bottom: 0;
                            left: 25%;
                            .recharge_btn{
                                display: inline-block;
                                width: 94px;
                                height: 40px;
                                line-height: 40px;
                                background: #006bcf;
                                color: #fff;
                                text-align: center;
                                border-radius: 8px;
                            }
                        }
                    }
                    .cost_box_right{
                        padding-left: 120px;
                        padding-top: 12px;
                        height: 170px;
                        position: relative;
                        .cost_box_list{
                            margin-bottom: 20px;
                        }
                        .bill_name{
                            color: #666666;
                            margin-right: 50px;
                        }
                        .bill_item{
                            font-weight: bold;
                            margin-right: 47px;
                        }
                        .cost_box_right_btn{
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            .see_more{
                                display: inline-block;
                                width: 94px;
                                height: 40px;
                                line-height: 40px;
                                background: #006bcf;
                                color: #fff;
                                text-align: center;
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }
            .bill_bottom{
                position: absolute;
                bottom: 0;
                height: 134px;
                width: 100%;
                border-top: 1px solid #dddddd;
                background: #f8f8f8;
                padding: 0 65px;
                .bill_bottom_left{
                    padding-top: 21px;
                    width: 183px;
                    margin-right: 66px;
                    span{
                        font-size: 26px;
                        color: #5cb966;
                    }
                    .ad_btn{
                        text-align: center;
                        margin-top: 20px;
                        width: 100%;
                        .gift_btn{
                            display: inline-block;
                            width: 123px;
                            height: 30px;
                            line-height: 30px;
                            background: #5cb966;
                            text-align: center;
                            color: #fff;
                            border-radius: 8px;
                        }
                    }
                }
                .bill_bottom_right{
                    padding-top: 18px;
                    .ad_box{
                        margin-right: 20px;
                    }
                }
            }
            .duo_bill_bottom{
                background: #fff;
                padding: 0;
                margin: 0 65px;
                width: 849px;
            }
        }
                
    }

    .index_wrp {
        padding: 40px 66px;

        &_title {
            margin-bottom: 35px;
            font-size: 20px;
            color: #666666;
            font-weight: bold;
        }

        &_left {
            float: left;
            padding-right: 45px;
            border-right: 1px solid #e8e8e8;                    

            i,span {
                vertical-align: middle;
            }

            .upload_wrp {
                padding-left: 14px;
                padding-top: 35px;
                margin-bottom: 25px;
                line-height: 45px;

                .icon_upload_speed {
                    display: inline-block;
                    margin-right: 20px;
                    width: 32px;
                    height: 45px;
                    background: url(../image/up.png) no-repeat;
                }

                span {
                    font-weight: bold;
                    font-size: 24px;
                    color: #006bcf;
                    font-family: 微软雅黑;
                }
            }

            .download_wrp {        
                padding-left: 14px;               
                margin-bottom: 85px;
                line-height: 45px;

                .icon_download_speed {
                    display: inline-block;
                    margin-right: 20px;
                    width: 32px;
                    height: 45px;
                    background: url(../image/down.png) no-repeat;
                }

                span {
                    font-weight: bold;
                    font-size: 24px;
                    color: #006bcf;
                    font-family: 微软雅黑;
                }
            }

            .speed_test_btn {
                margin: 0 auto;
                display: block;
                width: 92px;
                height: 40px;
                line-height: 40px;
                background: #0ec048;
                border-radius: 10px;
                color: #fff;
                font-size: 16px;
                text-align: center;
            }
        }

        &_right {
            float: left;

            .index_info_item {
                float: left;
                margin-left: 55px;
                max-width: 162px;
                min-width: 134px;

                .info_item_cont {                            
                    padding-top: 152px;
                    margin-bottom: 43px;

                    p {
                        text-align: center;
                        font-family: 微软雅黑;
                    }

                    .name {
                        margin-bottom: 13px;
                        font-size: 16px;
                        color: #999999;
                    }

                    .name_val {
                        font-size: 18px;
                        color: #000;
                        font-weight: bold;
                    }

                }

                a {
                    margin: 0 auto;
                    display: block;
                    width: 92px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: #fff;
                    background: #006bcf;
                    border-radius: 10px;
                }

                .packages_speed_bac {
                    background: url(../image/test_speed_01.png) center 0 no-repeat;
                    background-size: 134px auto;
                }

                .account_bac {
                    background: url(../image/person_icon.png) center 0 no-repeat;
                    background-size: 134px 133px;
                }

                .surfing_time_bac {
                    background: url(../image/test_speed_02.png) center 0 no-repeat;
                    background-size: 134px 133px;
                }
            }
        }

        &_bottom {
            margin-top: 67px;
            text-align: right;

            a {
                color: #999;
                font-size: 14px;
            }
        }
    }


}

.g_modal_wrp {
    position: absolute;
    top: 14px;
    left: 16px;
    /* width: 928px;
    height: 492px; */
    width: 0;
    height: 0;
    z-index: 9;
    background: #fff;
    border-radius: 10px;
    /* padding: 14px 16px; */

    .g_modal_container {
        
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px #aaa;
        border-radius: 10px;

        .close_btn {
            position: absolute;
            display: block;
            width: 17px;
            height: 17px;
            right: 15px;
            top: 15px;
            background: url(../image/closed2.png) 0 no-repeat;
        }
    } 
}

/*成长轨迹*/
.grow_history {

    &_head {            
        padding-top: 30px;
        padding-left: 55px;
        margin-bottom: 60px;
        font-size: 16px;
        color: #666;
        height: 20px;
        line-height: 20px;
        
        .icon_clock {
            margin-left: 195px;
            display: inline-block;                
            background: url(../image/clock.png) 0 center no-repeat;
            background-size: 20px 20px;
            text-indent: 38px; 
            font-family: 微软雅黑;
        }            
    }

    &_cont {
        padding-left: 70px;

        .cont_list {
            float: left;
            width: 157px;
            text-align: center;

            ul {

                li { 

                    .grow_bac_01 {
                        display: block;
                        width: 157px;
                        height: 136px;
                        background: url(../image/speed_icon_01.png) center 0 no-repeat;
                    }

                    .grow_bac_02 {
                        display: block;
                        width: 157px;
                        height: 136px;
                        background: url(../image/speed_icon_02.png) center 0 no-repeat;
                    }

                    .grow_bac_03 {
                        display: block;
                        width: 157px;
                        height: 136px;
                        background: url(../image/speed_icon_03.png) center 0 no-repeat;
                    }

                    .grow_bac_04 {
                        display: block;
                        width: 157px;
                        height: 136px;
                        background: url(../image/speed_icon_04.png) center 0 no-repeat;
                    }

                    .grow_bac_05 {
                        display: block;
                        width: 157px;
                        height: 136px;
                        background: url(../image/speed_icon_06.png) center 0 no-repeat;
                    }

                    .icon_grow_01 {
                        display: block;
                        width: 157px;
                        height: 60px;
                        background: url(../image/grow_01.jpg) 0 center no-repeat;
                    }

                    .icon_grow_02 {
                        display: block;
                        width: 157px;
                        height: 60px;
                        background: url(../image/grow_02.jpg) 0 center no-repeat;
                    }

                    .icon_grow_03 {
                        display: block;
                        width: 157px;
                        height: 60px;
                        background: url(../image/grow_03.jpg) 0 center no-repeat;
                    }

                    .speed {
                        font-family: 微软雅黑;
                        font-size: 20px;
                        color: #999;
                    }

                    .date {                            
                        font-family: 微软雅黑;
                        font-size: 20px;
                        color: #006bcf;
                    }

                    .des {
                        margin: 10px auto 0;
                        width: 120px;
                        line-height: 20px;
                        font-size: 12px;
                        color: #666666;
                        text-align: left;
                    }

                    a {
                        display: block;
                        margin: 0 auto;
                        width: 92px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: #fff;
                        font-size: 16px;
                        background: #006bcf;
                        border-radius: 10px;
                    }
                }

                &.active {

                    li { 

                        .grow_bac_01 {
                            display: block;
                            width: 157px;
                            height: 136px;
                            background: url(../image/speed_act_01.png) center 0 no-repeat;
                        }

                        .grow_bac_02 {
                            display: block;
                            width: 157px;
                            height: 136px;
                            background: url(../image/speed_act_02.png) center 0 no-repeat;
                        }

                        .grow_bac_03 {
                            display: block;
                            width: 157px;
                            height: 136px;
                            background: url(../image/speed_act_03.png) center 0 no-repeat;
                        }

                        .grow_bac_04 {
                            display: block;
                            width: 157px;
                            height: 136px;
                            background: url(../image/speed_act_04.png) center 0 no-repeat;
                        }

                        .grow_bac_05 {
                            display: block;
                            width: 157px;
                            height: 136px;
                            background: url(../image/speed_act_06.png) center 0 no-repeat;
                        }                            

                        .speed {
                            font-family: 微软雅黑;
                            font-size: 20px;
                            color: #ff6600;
                        }                       
                    }
                }
            }
        }
    }
} 

/*测速弹窗*/
.speed_test_wrp {

    .speed_test {

        &_loading {
            padding-top: 90px; 
            text-align: center;

            p {
                margin-top: 30px;
                font-size: 24px;
                color: #333;
            }
        }

        &_cont {
            text-align: center;

            .title {                
                padding-top: 40px;
                padding-left: 47px;
                font-size: 20px;
                color: 666;
                text-align: left;
                font-weight: bold;
            }

            .test_result {

                .speed_num {
                    margin-right: 17px;
                    font-size: 36px;
                    color: #666;
                    font-family: 微软雅黑;
                    vertical-align: middle;
                }

                .speed_des {
                    font-size: 36px;
                    color: #ff6600;
                    vertical-align: middle;
                }
            }

            .speed_graphic {
                position: relative;
                margin-top: 100px;

                .speed_line_wrp {
                    position: absolute;
                    width: 785px;
                    height: 6px;
                    top: 10px;
                    left: 50%;
                    margin-left: -392px;
                    background: #b8b8b8;

                    &:after {
                        position: absolute;
                        content: "";
                        right: 51px;
                        top: -76px;
                        width: 53px;
                        height: 53px;
                        background: url(../image/speed_small_02.png) no-repeat;
                    }

                    .speed_percent {  
                        position: relative;                      
                        height: 100%;
                        background: #006bcf;

                        &:after {
                            position: absolute;
                            content: "";
                            right: -24px;
                            top: -76px;
                            width: 49px;
                            height: 76px;
                            background: url(../image/icon_speed_pos.png) no-repeat;
                        }
                    }
                }
            }

            .speed_cont_wrp {
                padding-left: 72px;
                margin-bottom: 50px;
            }

            .analysis {
                margin-bottom: 10px;
                font-size: 18px;
                color: #999;

                strong {
                    font-family: 微软雅黑;
                    font-size: 30px;
                    color: #ff6600;
                }
            }

            .speed_up_btn {
                display: block;
                margin: 20px auto 0;
                width: 302px;
                height: 60px;
                line-height: 60px;
                border-radius: 10px;
                font-size: 30px;
                text-align: center;
                background: #006bcf;
                color: #fff;
            }

            .speed_cont_list {
                position: relative;
                float: left;
                width: 157px;

                .icon_pos {
                    display: block;
                    width: 157px;
                    height: 30px;
                    background: url(../image/no_active_ball.png) center 0 no-repeat;
                }

                p {
                    font-size: 20px;
                    color: #666;
                    line-height: 25px;
                }
            }

            .speed_cont_list_active {

                .icon_pos {
                    display: block;
                    width: 157px;
                    height: 30px;
                    background: url(../image/active_ball.png) center 0 no-repeat;
                }

                p {
                    font-size: 20px;
                    color: #006bcf;
                    line-height: 25px;
                }
            }
        }
    }
}

/*续约窗口*/
.user_renew_wrp,.user_no_renew_wrp,.mix_user_renew_wrp {
    
    .package {

        &_name {
            padding-top: 42px;
            padding-left: 50px;
            margin-bottom: 25px;
            font-size: 16px;
            color: #666;

            .name {
                margin-left: 80px;
                font-family: 微软雅黑;
                font-size: 16px;
                color: #000;
                font-weight: bold;
            }
        }

        &_date {
            padding-left: 50px;
            font-size: 16px;
            color: #666;

            .date {
                margin-left: 80px;
                font-family: 微软雅黑;
                font-size: 16px;
                color: #000;
                font-weight: bold;
            }

            .offline_date {
                margin-left: 48px;
            }
        }

        &_cont {
            margin-top: 50px;

            &_list {
                float: left;
                width: 33.3%;
                text-align: center;

                li {
                    width: 100%;

                    .icon_bac_01 {
                        display: block;
                        width: 100%;
                        height: 126px;
                        background: url(../image/package_icon_01.png) center 0 no-repeat;
                    }

                    .icon_bac_02 {
                        display: block;
                        width: 100%;
                        height: 126px;
                        background: url(../image/package_icon_02.png) center 0 no-repeat;
                    }

                    .icon_bac_03 {
                        display: block;
                        width: 100%;
                        height: 126px;
                        background: url(../image/package_icon_03.png) center 0 no-repeat;
                    }

                    &.name {
                        margin-top: 20px;
                        font-size: 20px;
                        color: #000;
                    }

                    &.des {
                        margin-top: 8px;
                        font-size: 16px;
                        color: #999;
                    }

                    a {
                        display: inline-block;
                        margin-top: 13px;
                        width: 92px;
                        height: 40px;
                        line-height: 40px;
                        color: #fff;
                        text-align: center;
                        border-radius: 10px;
                        background: #006bcf;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .no_renew_cont {
        margin-top: 22px;
    }

    .offline_tip {
        padding-left: 50px;
        margin-top: 35px;        
        font-size: 42px;
        color: #333;
        line-height: 50px;

        .last_date {
            color: #ff6600;            
        }

        a {
            display: inline-block;
            margin-left: 30px;
            width: 192px;
            height: 50px;
            line-height: 50px;
            color: #fff;
            text-align: center;
            border-radius: 10px;
            background: #006bcf;
            font-size: 24px;
            vertical-align: middle;
        }
    }
}

.mix_user_renew_wrp {

    .package_cont {
        padding-left: 80px;
        margin-top: 75px;
        overflow-y: auto;
        height: 134px;

        &_list {
            width: 405px;
        }

        .pic {
            width: 126px;
            height: 126px;
        }

        .package_des {
            margin-left: 20px;
            width: 250px;
            text-align: left;

            .package_name  {
                margin-bottom: 14px;
                padding: 0;
                font-size: 20px;
                font-weight: bold;
                color: #000;
            }

            p {
                font-size: 16px;
                color: #333;
                line-height: 30px;
                font-family: 微软雅黑;

                a {
                    color: #333;
                }

                span {
                    margin-left: 29px;
                    color: #999;
                }
            }
        }
        .package_cont_li{
            height: 134px;
        }
        /* .package_cont_ul{
            height: 134px;
            overflow-y: auto;
            overflow: hidden;
            .package_cont_li{
                margin-bottom: 10px;
                height: 134px;
            }
        } */
    }
    .no_renew_cont{
        height: 134px;
    }
}

.personal_setting_wrp {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 99;

    .personal_setting_cont {
        position: absolute;
        top: 98px;
        left: 15px;
        right: 15px;
        bottom: 50px;
        background: #fff;
        border-radius: 10px;

        .close_personal_btn {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 17px;
            height: 17px;
            background: url(../image/closed2.png) no-repeat;
        }

        .title {
            padding-left: 47px;
            padding-top: 27px;
            font-size: 14px;
            color: #666; 
        }

        .user_info {
            margin-top: 20px;
            text-align: center;

            .avatar {
                margin-bottom: 20px;

                img {
                    width: 148px;
                    height: 148px; 
                    border-radius: 50%;                    
                }               
            }

            .user_name {
                font-size: 20px;
                color: #000;
                line-height: 36px;
            }

            .user_des,.online_time {
                line-height: 36px;
                font-size: 16px;
                color: #666;
            }

            .info_edit_btn {
                margin-top: 15px;
                display: inline-block;
                width: 182px;
                height: 50px;
                line-height: 50px;
                color: #fff;
                font-size: 24px;
                text-align: center;
                background: #006bcf;
                border-radius: 8px;
            }

            &_editing {
                margin-top: 20px;
                text-align: center;
                
                .avatar {
                    position: relative;
                    height: 148px;
                }

                .avatar_upload_wrp {
                    position: absolute;
                    left: 50%;
                    top: 0;
                    margin-left: -74px;
                    width: 148px;
                    height: 148px;
                    border-radius: 50%;
                    overflow: hidden;

                    .avatar_upload {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }

                .user_name {
                    margin-top: 20px;                    

                    input {
                        margin-left: 25px;
                        width: 206px;
                        height: 40px;
                        line-height: 40px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        font-size: 16px;
                        text-indent: 20px;
                    }
                }

                .user_des {
                    margin-top: 20px;  
                    margin-bottom: 24px;

                    span {
                        position: relative;
                        top: -82px;
                    }                  

                    textarea {
                        margin-left: 25px;
                        width: 204px;
                        height: 97px;
                        border: 1px solid #ccc;
                        overflow-y: auto;
                        border-radius: 5px;
                        resize: none;
                        text-indent: 20px;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }

                .btns {
                    padding-left: 62px;

                    a {
                        display: inline-block;
                        width: 92px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        font-size: 16px;
                        border-radius: 5px;

                        &.edit_cancel_btn {
                            color: #999;
                            background: #e7e7e7;
                            border: 1px solid #ccc;
                        }

                        &.edit_confirm_btn {
                            margin-left: 30px;
                            background: #006bcf;
                            color: #fff;
                            border: 1px solid #006bcf;
                        }
                    }
                }
            }
        }
    }
}

.surfing_wrp,.surfing_like_wrp {

    .test_loading {
        padding-top: 128px; 
        text-align: center;

        p {
            margin-top: 40px;
            font-size: 24px;
            color: #333;
        }
    }
    
    .block_01 {
        padding-left: 45px;
        padding-top: 25px;

        .avatar {
            margin-right: 22px;

            img {
                width: 74px;
                height: 74px;
                border-radius: 50%;
            }
        }

        .des {

            .name {
                line-height: 36px;
                font-size: 20px;
                font-weight: bold;
                color: #000;

                .title {
                    float: left;
                }

                .score_wrp {
                    float: left;
                    margin-left: 15px;

                    span {
                        display: inline-block;
                        width: 20px;
                        height: 19px;
                        margin-right: 3px;
                        vertical-align: middle;                        

                        &.no_score {                            
                            background: url(../image/icon_star_gray.png) no-repeat;
                        }

                        &.scored {                           
                            background: url(../image/icon_star_orange.png) no-repeat;
                        }
                    }
                }
            }

            .tips {
                line-height: 36px;
                color: #666;
                font-size: 14px;

                .share_btn {
                    margin-left: 40px;
                    display: inline-block;
                    width: 64px;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                    color: #fff;
                    font-size: 16px;
                    background: #0ec048;
                    border-radius: 5px;
                    vertical-align: middle;
                }
            }
        }
    }

    .block_02 {
        margin-top: 48px;

        #surfing_graphi_wrp {
            margin: 0 auto;  
            width: 765px;
            height: 320px;
        }
    }
}

#surfing_graphi_wrp_left,#surfing_graphi_wrp_left2 {
    margin-left: 43px;  
    width: 487px;
    height: 320px;
}

#surfing_graphi_wrp_right,#surfing_graphi_wrp_right2 {
    width: 350px;
    height: 320px;
    margin-left: 20px;
}

/*智能服务*/
#block2 {
    
    .index_wrp {
        padding-top: 110px;
        padding-left: 190px;

        .item {
            float: left;
            margin-right: 200px;
            text-align: center;

            i {
                display: block;
                margin-bottom: 45px;

                &.speed_test_bac {
                    width: 191px;
                    height: 183px;
                    background: url(../image/test_speed_01.png) center 0 no-repeat;
                }
           
                
                

                &.surfing_test_bac {
                    width: 187px;
                    height: 183px;
                    background: url(../image/test_speed_02.png) center 0 no-repeat;
                }
            }

            a {
                display: inline-block;
                width: 192px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: #fff;
                font-size: 24px;
                background: #006bcf;
                border-radius: 5px;
            }
        }
    }
}

.bill_black_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    .bill_wrap{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -454px;
        margin-top: -302px;
        width: 908px;
        height: 605px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        .closed{
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
        }
        .bill_detail_box{
            margin: 38px 58px;
            border-left: 1px solid #dddddd;
            overflow-y: auto;
            height: 522px;
            .bill_detail_top{
                border-bottom: 1px solid #dddddd;
                border-right: 1px solid #dddddd;
                width: 723px;
                padding: 0 20px;
                .pro_name{
                    font-size: 20px;
                    width: 545px;
                    line-height: 25px;
                    margin-bottom: 20px;
                    margin-top: 17px;
                }
                .phone_num{
                    font-size: 14px;
                    color: #aea9a9;
                    width: 545px;
                    margin-bottom: 20px;
                }
                .price{
                    font-size: 48px;
                    color: #ff324a;
                    margin-top: 15px;
                }
            }
            .bill_detail_main{
                width: 763px;
                border-bottom: 1px solid #dddddd;
                border-right: 1px solid #dddddd;
                .bill_detail_left{
                    border-right: 1px solid #dddddd;
                    width: 292px;
                    .bill_detail_left_list{
                        border-bottom: 1px solid #dddddd;
                        padding: 10px 20px;
                        .bill_big_span{
                            display: inline-block;
                            font-size: 18px;
                            padding-top: 5px;
                            padding-bottom: 5px;
                        }
                        .bill_mid_span{
                            display: inline-block;
                            font-size: 16px;
                            color: #9797aa;
                            padding-top: 5px;
                            padding-bottom: 5px;
                        }
                        .black{
                            color: #000;
                            padding-top: 0;
                            padding-bottom: 0; 
                            width: 100%;
                            font-weight: 500;
                        }
                        .bill_small_span{
                            display: inline-block;
                            color: #757575;
                            em{
                                border-bottom: 1px dashed #9797aa;
                            }
                        }
                        .mar_left{
                            margin-left: 26px;
                            margin-top: 12px;
                        }
                    }
                    .last_list{
                        border-bottom: 0;
                    }
                }
                .bill_detail_right{
                    width: 470px;
                    .bill_detail_right_list{
                        border-bottom: 1px solid #dddddd;
                        padding: 15px 20px;
                        em{
                            border-bottom: 1px dashed #9797aa; 
                        }
                        .bill_detail_right_box{
                            width: 107px;
                            font-size: 14px;
                            line-height: 20px;
                        }
                        .big_font{
                            font-size: 18px;
                        }
                        .width_long{
                            width: 100%;
                        }
                        .gray_font{
                            color: #757575;
                        }
                        .bill_detail_right_box_list{
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
    }
}
.share_black{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 99;
    .code_box{
        width: 308px;
        height: 388px;
        background: #fff;
        margin: auto;
        margin-top: 12%;
        position: relative;
        text-align: center;
        .closed_code{
            display: inline-block;
            position: absolute;
            right: 12px;
            top: 12px;
        }
        .code_tittle{
            width: 100%;
            text-align: center;
            margin-top: 26px;
            font-size: 20px;
        }
        .code_img{
            margin-top: 24px;
            margin-left: 26px;
        }
        p{
            width: 100%;
            text-align: center;
            line-height: 25px;
        }  
    }
}